In [1]:
import numpy as np

my_array = np.arange(5, 101, 5)
print(my_array)

[  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90
  95 100]

In [3]:
import numpy as np

my_array = np.arange(5, 101, 5)
filtered_array = my_array[my_array % 10 == 0]
print(filtered_array)

[ 10  20  30  40  50  60  70  80  90 100]

In [5]:
import numpy as np
import pandas as pd

# Создание массива
a = np.array([1, 2, 3])

# Преобразование в DataFrame
df = pd.DataFrame(a, columns=['Values'])

# Вывод в виде таблицы
df

   Values
0       1
1       2
2       3

In [6]:
import numpy as np

a = np.array([1, 2, 3])
a

array([1, 2, 3])